@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Mulish', serif;
}

/* VARIABLES */
:root {
    /* COLORS */

    --GREEN : #0CBF9F;
    --WHITE : #FFFFFF;
    --PCOLOR : #555555;
    --GREY : #F9F9F9;
    --LIGHTGREY : #DDDDDD;


    /* SIZES */

    /*  LAPTOP SIZES */
    --NORMALFONT: 1.125rem;
    --H1FONT: 3.375REM;
    --H2FONT: 2.125REM;
    --H3FONT: 1.5REM;
    --NORMALLINEHEIGHT: 30.6px;
    --H1LINEHEIGHT: 75.6px;
    --H2LINEHEIGHT: 57.8px;
    --H3LINEHEIGHT: 40.8px;

    /* MOBILE SIZES */

    --MOBILEPFONT : 0.875REM;
    --MOBILEH1FONT : 2REM;
    --MOBILEH2FONT : 1.25REM;
    --MOBILEH3FONT : 1.125REM;
    --MOBILEPLINEHEIGHT : 23.8px;
    --MOBILEH1LINEHEIGHT : 44.8px;
    --MOBILEH2LINEHEIGHT : 34px;
    --MOBILEH3LINEHEIGHT : 30.6px;

    /* TABLET SIZES */

    --TABLETPFONT: 1REM;
    --TABLETH1FONT : 2REM;
    --TABLETH2FONT : 1.75REM;
    --TABLETH3FONT : 1.5REM;
    --TABLETPLINEHEIGHT : 27.2px ;
    --TABLETH1LINEHEIGHT : 44.8px;
    --TABLETH2LINEHEIGHT : 47.6px;
    --TABLETH3LINEHEIGHT :40.8px;
}

/* SIZE RESET */

h1 {
    font-size: var(--H1FONT);
    line-height: var(--H1LINEHEIGHT);
}

h2 {
    font-size: var(--H2FONT);
    line-height: var(--H2LINEHEIGHT);
}

h3 {
    font-size: var(--H3FONT);
    line-height: var(--H3LINEHEIGHT);
}

p {
    font-size: var(--NORMALFONT);
    line-height: var(--NORMALLINEHEIGHT);
    color: var(--PCOLOR);
}



/* NAV BAR */

nav {
    margin: 40px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.nav_links {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.nav_cta {
    width: 148px;
    height: 48px;
    background-color: var(--GREEN) ;
    color: var(--WHITE);
    border: none;
}

.menu {
    display: none;
}

/* HERO SECTION */

.hero {
    margin: 80px 0 0 150px;
    display: flex;
    justify-content: space-between;
}

.hero1 h1 {
    width: 530px;
    margin-top: 20px;
}

.hero1 p {
    width: 330px;
    color: var(--PCOLOR);
}

.hero1_bar {
    display: flex;
    align-items: center;
    margin: 36px 0 0 0;
}

.hero1_cta {
    width: 200px;
    height: 60px;
    background-color: var(--GREEN);
    color: var(--WHITE);
    border: none;
    margin-right: 16px;
}

.hero1_bar p {
    color: var(--GREEN);
}

.picturebg {
    overflow: hidden;
}

.heroimg {
    width: 700px;
    margin: 0 -110px 0 0;
}

/* OUR SERVICES */

.services {
    margin: 127px 60px 0 60px;
    background-color: var(--GREY) ;
}

.services_head {
    padding: 100px 90px 0 90px;
    color: var(--GREEN);
}

.services h2 {
    width: 675px;
    margin: 0 90px 0 90px;
}

.services_sub {
    width: 595px;
    margin: 0 90px 0 90px;
}

.services_grid {
    display: flex;
    padding: 60px 90px 290px 90px;
}

.box {
    width: 260px;
    margin-right: 33px;
    background-color: var(--WHITE);
    padding: 38px 0 0 20px;
}

.services_bold {
    font-weight: bold;
    font-weight: 1.125rem;
    margin: 16px 0 0 0;
}

.box p {
    width: 213px;
    font-size: 0.875rem;
}

.seeourplan {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 99px 42px 98px 42px;
}

.seeourplan p {
    color: var(--GREEN);
}

/* CSERVICE */

.hire {
    margin: -220px 150px 0 150px;
}

.hire_bar {
    background-color: var(--WHITE);
    margin: 64px 0 0 0;
    display: flex;
    padding: 60px 50px 60px 60px;
}

.hire85, .hire75, .hire57 {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hire85 {
    width: 222px;
    margin-right: 178px;
}

.hire75 {
    width: 251px;
    margin-right: 145px;
}

.hire57 {
    width: 256px;
}

.hire_sqr {
    display: flex;
    margin: 64px 0 0 0;
}

h3 {
    font-size: 1.125rem;
}

.sqr1 {
    width: 340px;
    height: 272px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0 60px 0 0;
    padding: 26px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr1 h3 {
    width: 280px;
}

.sqr2 {
    width: 340px;
    height: 313px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0 60px 0 0;
    padding: 26px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr3 {
    width: 340px;
    height: 289px;
    border: 0.5px solid var(--LIGHTGREY);
    padding: 26px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.hire_sqr p {
    font-size: 0.875rem;
    width: 220px;
}

/* INTEGRATION */

.intgn {
    margin: 181px 150px 0 150px;
}

.intgn_head {
    color: var(--GREEN);
}

.intgn_apps {
    margin: 67px 0 0 0;
    display: flex;
    justify-content: space-between;
}

/* TESTIMONIAL */

.testimonial {
    margin: 180px 150px 0 150px ;
}

.testimonial_head {
    color: var(--GREEN);
}

.testimonial_bar {
    display: flex;
    justify-content: space-between;
}

.testimonial_grid {
    display: flex;
    margin: 64px 0 0 0;
}

.grid {
    width: 479px;
    height: 282px;
    border: 1px solid var(--LIGHTGREY);
    margin: 0 30px 0 0;
    padding: 40px 16px 0 24px;
    border-radius: 8px;
}

.grid p {
    width: 385px;
}

.profile {
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
}

.bessie {
    border: 0.5px solid var(--GREEN);
}

.extra {
    margin: 51px 0 0 0;
}

.profile_name {
    padding-left: 14px;
    font-weight: bold;
}

.profession {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    font-weight: normal;
}

.desktop_overflow {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0;
}

/* SEE PLAN */

.seeplan {
    margin: 180px 0 0 0;
    background-color: var(--GREY);
    text-align: center;
}

.seeplan h1 {
    padding: 141px 430px 0 430px;
}

.seeplan_cta {
    width: 200px;
    height: 60px;
    margin: 46px 620px 141px 620px;
    color: var(--WHITE);
    background-color: var(--GREEN);
    border: none;
}

/* FOOTER */

footer {
    display: flex;
    margin: 140px 150px 0 150px;
}

.contact_info_contents {
    margin: 32px 170px 40px 0;
    color: var(--SECONDARYGREY);
}

.social_media {
    display: flex;
    justify-content: space-between;
    margin-right: 260px;
}

.nav_footer {
    display: flex;
}

.navigation p, .about_us p, .contact_address p, .logo p {
    font-weight: bold;
}

.navigation p, .about_us p, .contact_address p {
    margin: 0 120px 34px 0;
}

ul {
    padding-bottom: 20px;
    font-size: 1rem;
}

.copyright {
    margin: 138px 0 40px 0;
    text-align: center;
}



/* MOBILE */

@media screen and (max-width: 480px) {

    /* SIZE RESET */

    h1 {
        font-size: var(--MOBILEH1FONT);
        line-height: var(--MOBILEH1LINEHEIGHT);
    }
    
    h2 {
        font-size: var(--MOBILEH2FONT);
        line-height: var(--MOBILEH2LINEHEIGHT);
    }
    
    h3 {
        font-size: var(--MOBILEH3FONT);
        line-height: var(--MOBILEH3LINEHEIGHT);
    }
    
    p {
        font-size: var(--MOBILEPFONT);
        line-height: var(--MOBILEPLINEHEIGHT);
    }

    section {
        margin: 0 24px 0 24px;
    }
    

    /* NAV BAR */

nav {
    margin: 30px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.logosvg {
    width: 24px;
    height: 24px;
}

.nav_links {
    display: none;
}

.menu {
    display: block;
    width: 24px;
    height: 24px;
}

/* HERO SECTION */

.hero {
    margin: 60px 0 0 0;
    display: block;
}

.hero1 h1 {
    width: 312px;
}

.hero1 p {
    width: 270px;
    color: var(--PCOLOR);
}

.hero1_bar {
    display: flex;
    align-items: center;
    margin: 24px 0 0 0;
}

.hero1_cta {
    width: 200px;
    height: 48px;
    background-color: var(--GREEN);
    color: var(--WHITE);
    border: none;
    margin-right: 16px;
}

.hero1_bar p {
    color: var(--GREEN);
}

.picturebg {
    display: none;
}

.heroimg {
    display: none;
}


/* OUR SERVICES */

.services {
    margin: 50px 0 0 0;
    background-color: var(--GREY) ;
}

.services_head {
    padding: 46px 0 0 24px;
    color: var(--GREEN);
}

.services h2 {
    width: 300px;
    margin: 0;
    padding: 0 24px 0 24px;
}

.services_sub {
    width: 300px;
    margin: 0;
    padding: 0 24px 0 24px;
}

.services_grid {
    display: block;
    padding: 24px 24px 283px 0;
    margin-left: 24px;
}

.box {
    width: 312px;
    margin: 0 0 16px 0;
    background-color: var(--WHITE);
    padding: 32px 0 32px 24px;
}

.services_svg {
    width: 28px;
    height: 28px;
}

.services_bold {
    font-weight: bold;
    font-weight: 1rem;
    margin: 16px 0 0 0;
}

.box p {
    width: 240px;
    font-size: 0.75rem;
}

.seeourplan {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 72px 68px 72px 68px;
}

.seeourplan p {
    color: var(--GREEN);
}

/* CSERVICE */

.hire {
    margin: -210px 0 0 0;
}

.hire_bar {
    background-color: var(--WHITE);
    margin: 16px 0 0 0;
    display: block;
    padding: 36px 30px 36px 30px;
}

.hire85, .hire75, .hire57 {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hire85 {
    width: 222px;
    margin: 0 0 36px 0;
}

.hire75 {
    width: 222px;
    margin: 0 0 36px 0;
}

.hire57 {
    width: 222px;
}

.hire_sqr {
    display: block;
    margin: 36px 0 0 0;
}

h3 {
    font-size: 1rem;
}

.sqr1 {
    width: 312px;
    height: 195px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0 0 16px 0;
    padding: 36px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr2 {
    width: 312px;
    height: 235px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0 0 16px 0;
    padding: 36px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr3 {
    width: 312px;
    height: 215px;
    border: 0.5px solid var(--LIGHTGREY);
    padding: 36px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.hire_sqr p {
    font-size: 0.75rem;
    width: 220px;
}

/* INTEGRATION */

.intgn {
    margin: 60px 0 0 0;
}

.intgn_head {
    color: var(--GREEN);
}

.intgn_apps {
    margin: 26px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 312px;
    justify-content: flex-start;
}

.calendar {
    width: 177px;
    height: 24px;
    margin: 0 35px 26px 0;
}

.slack {
    width: 100px;
    height: 26px;
}

.calendly {
   width: 107px;
   height: 28px;
   margin: 0 18px 0 0;
}

.aveef {
    width: 102px;
    height: 32px;
}

/* TESTIMONIAL */

.testimonial {
    margin: 60px 0 0 0 ;
}

.testimonial_head {
    color: var(--GREEN);
}

.testimonial_bar {
    display: flex;
    justify-content: space-between;
}

.slideback {
    width: 26px;
    height: 26px;
}

.slideforward {
    width: 26px;
    height: 26px;
}

.testimonial_grid {
    display: flex;
    margin: 24px 0 0 0;
}

.grid {
    width: 312px;
    height: 223px;
    border: 1px solid var(--LIGHTGREY);
    margin: 0 30px 0 0;
    padding: 25px 16px 0 24px;
    border-radius: 8px;
}

.grid p {
    width: 250px;
}

.bessie_svg {
    width: 40px;
    height: 40px;
}

.profile {
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
}

.bessie {
    border: 0.5px solid var(--GREEN);
}

.marvin, .devon {
    display: none;
}

.profile_name {
    padding-left: 14px;
    font-weight: bold;
}

.profession {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    font-weight: normal;
}

/* SEE PLAN */

.seeplan {
    margin: 60px 0 0 0;
    background-color: var(--GREY);
    text-align: center;
}

.seeplan h1 {
    padding: 64px 10px 0 10px;
    font-size: 1.5rem;
}

.seeplan_cta {
    width: 312px;
    height: 48px;
    margin: 36px 24px 64px 24px;
    color: var(--WHITE);
    background-color: var(--GREEN);
    border: none;
}

/* FOOTER */

footer {
    display: block;
    margin: 140px 75px 0 24px;
}

.contact_info_contents {
    margin: 24px 35px 24px 0;
    color: var(--SECONDARYGREY);
}

.social_media {
    display: flex;
    justify-content: space-between;
    margin-right: 152px;
}

.nav_footer {
    display: block;
}

.navigation p, .about_us p, .contact_address p, .logo p {
    font-weight: bold;
}

.navigation, .about_us, .contact_address {
    margin-top: 36px;
}

ul {
    padding-bottom: 20px;
    font-size: var(--MOBILEPFONT)
}

.copyright {
    margin: 36px 0 24px 0;
    text-align: center;
}

}



/* TABLET */

@media screen and (min-width: 481px) and (max-width: 835px) {

    /* SIZE RESET */

    h1 {
        font-size: var(--TABLETH1FONT);
        line-height: var(--TABLETH1LINEHEIGHT);
    }
    
    h2 {
        font-size: var(--TABLETH2FONT);
        line-height: var(--TABLETH2LINEHEIGHT);
    }
    
    h3 {
        font-size: var(--TABLETH3FONT);
        line-height: var(--TABLETH3LINEHEIGHT);
    }
    
    p {
        font-size: var(--TABLETPFONT);
        line-height: var(--TABLETPLINEHEIGHT);
    }
    
   
    /* NAV BAR */

nav {
    margin: 40px 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.nav_links {
    display: none;
}

.menu {
    display: block;
}

/* HERO SECTION */

.hero {
    margin: 60px 0 0 60px;
    display: flex;
    justify-content: space-between;
}

.hero1 h1 {
    width: 400px;
    margin-top: 20px;
}

.hero1 p {
    width: 400px;
    color: var(--PCOLOR);
}

.hero1_bar {
    display: flex;
    align-items: center;
    margin: 36px 0 0 0;
}

.hero1_cta {
    width: 200px;
    height: 60px;
    background-color: var(--GREEN);
    color: var(--WHITE);
    border: none;
    margin-right: 16px;
}

.hero1_bar p {
    color: var(--GREEN);
}

.picturebg {
    margin: 0 0 0 -10%;
}

.heroimg {
    width: 500px;
    height: 320px;
    overflow: hidden;
    margin: 0 0 0 0;
}


/* OUR SERVICES */

.services {
    margin: 80px 0 0 0;
    background-color: var(--GREY) ;
}

.services_head {
    padding: 45px 0 0 60px;
    color: var(--GREEN);
}

.services h2 {
    width: 556px;
    margin: 0 210px 0 60px;
}

.services_sub {
    width: 520px;
    margin: 0 100px 0 60px;
}

.services_grid {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    padding: 24px 181px 245px 60px;
}

.box {
    width: 280px;
    margin: 0 33px 33px 0;
    background-color: var(--WHITE);
    padding: 38px 0 32px 20px;
}

.services_bold {
    font-weight: bold;
    font-weight: 1.125rem;
    margin: 16px 0 0 0;
}

.box p {
    width: 213px;
    font-size: 0.875rem;
}

.seeourplan {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 85px 52px 85px 52px;
}

.seeourplan p {
    color: var(--GREEN);
}

/* CSERVICE */

.hire {
    margin: -165px 60px 0 60px;
}

.hire_bar {
    background-color: var(--WHITE);
    margin: 36px 0 0 0;
    display: flex;
    padding: 60px 24px 60px 24px;
}

.hire85, .hire75, .hire57 {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hire85 {
    width: 187px;
    margin-right: 46px;
}

.hire75 {
    width: 201px;
    margin-right: 27px;
}

.hire57 {
    width: 205px;
}

.hire_sqr {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: 36px 0 0 0;
}

h3 {
    font-size: 1.125rem;
}

.sqr1 {
    width: 340px;
    height: 272px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0 34px 0 0;
    padding: 46px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr2 {
    width: 340px;
    height: 313px;
    border: 0.5px solid var(--LIGHTGREY);
    margin: 0;
    padding: 46px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.sqr3 {
    width: 340px;
    height: 289px;
    border: 0.5px solid var(--LIGHTGREY);
    padding: 46px 0 0 20px;
    border-bottom: 6px solid var(--GREEN);
}

.hire_sqr p {
    font-size: 0.875rem;
    width: 220px;
}

/* INTEGRATION */

.intgn {
    margin: 81px 60px 0 60px;
}

.intgn_head {
    color: var(--GREEN);
}

.intgn_apps {
    margin: 38px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.calendar {
    width: 205px;
    height: 28px;
}

.slack {
    width: 116px;
    height: 31px;
}

.calendly {
   width: 115px;
   height: 31px;
}

.aveef {
    width: 116px;
    height: 36px;
}

/* TESTIMONIAL */

.testimonial {
    margin: 77px 60px 0 60px ;
}

.testimonial_head {
    color: var(--GREEN);
}

.testimonial_bar {
    display: flex;
    justify-content: space-between;
}

.testimonial_grid {
    display: flex;
    margin: 46px 0 0 0;
}

.grid {
    width: 479px;
    height: 282px;
    border: 1px solid var(--LIGHTGREY);
    margin: 0 30px 0 0;
    padding: 40px 16px 0 24px;
    border-radius: 8px;
}

.grid p {
    width: 340px;
}

.profile {
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
}

.bessie {
    border: 0.5px solid var(--GREEN);
}

.devon {
    display: none;
}

.extra {
    margin: 51px 0 0 0;
}

.profile_name {
    padding-left: 14px;
    font-weight: bold;
}

.profession {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    font-weight: normal;
}

.desktop_overflow {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0;
}

/* SEE PLAN */

.seeplan {
    margin: 82px 0 0 0;
    background-color: var(--GREY);
    text-align: center;
}

.seeplan h1 {
    padding: 114px 120px 0 120px;
}

.seeplan_cta {
    width: 200px;
    height: 60px;
    margin: 46px 317px 114px 317px;
    color: var(--WHITE);
    background-color: var(--GREEN);
    border: none;
}

/* FOOTER */

footer {
    display: block;
    margin: 80px 0 0 60px;
}

.contact_info {
    display: flex;
    justify-content: space-between;
}

.tablet_contact {
    display: block;
}

.contact_info_contents {
    margin: 32px 0px 36px 0;
    color: var(--SECONDARYGREY);
    width: 260px;
}

.social_media {
    display: flex;
    justify-content: space-between;
    margin: 0 90px 0 0;
    column-gap: 25px;
}

.nav_footer {
    display: flex;
}

.navigation p, .about_us p, .contact_address p, .logo p {
    font-weight: bold;
}

.navigation, .about_us, .contact_address {
    margin-top: 36px;
}

.navigation p, .about_us p, .contact_address p {
    margin: 0 160px 34px 0;
}

ul {
    padding-bottom: 20px;
    font-size: 1rem;
}

.copyright {
    margin: 64px 0 32px 0;
    text-align: center;
}



/* footer {
    display: flex;
    margin: 140px 150px 0 150px;
}

.contact_info_contents {
    margin: 32px 170px 40px 0;
    color: var(--SECONDARYGREY);
}

.social_media {
    display: flex;
    justify-content: space-between;
    margin-right: 260px;
}

.nav_footer {
    display: flex;
}

.navigation p, .about_us p, .contact_address p, .logo p {
    font-weight: bold;
}

.navigation p, .about_us p, .contact_address p {
    margin: 0 120px 34px 0;
}

ul {
    padding-bottom: 20px;
    font-size: 1rem;
}

.copyright {
    margin: 138px 0 40px 0;
    text-align: center;
} */


}



